%h1.text-center.page-header
  = 'ログイン'

= form_for(:session, url: login_path) do |f|

  .form-group
    = f.label :email, 'メールアドレス'
    = f.email_field :email, class: 'form-control'

  .form-group
    = f.label :password, 'パスワード'
    = f.password_field :password, class: 'form-control'

  .form-group
    = f.check_box :remember_me
    = f.label :remember_me, 'ログイン状態を保持する。'
  
  = f.submit 'ログイン', class: 'btn btn-success btn-block'

  = link_to '登録はこちら！', signup_path, class: 'pull-right'