.modal.fade#myModal
  .modal-dialog
    .modal-content
      = search_form_for @q do |f|
        .modal-header.text-center
          = t('view.tasks.condition_search')
        .modal-body
          .form-group
            = f.label :title_cont, t('view.tasks.title')
            = f.search_field :title_cont
          .form-group
            = f.label :status, t('view.tasks.status')
            = f.select :status_eq, @status.map{|s| [t("view.tasks.#{s}"),s]}, include_blank: true
          .form-group
            = f.label :end_period, t('view.tasks.end_period')
            = f.date_select :end_period_gteq, include_blank: true
            = '〜'
            = f.date_select :end_period_lteq, include_blank: true 
        .modal-footer 
          .btn.btn-default{'data-dismiss': 'modal'}
            = t('view.tasks.close')
          = f.submit class: 'btn btn-default'