= t('view.tasks.task_count', count: @tasks.count)

%div 
  = link_to t('view.tasks.new'), new_task_path
%div 


.task_list
  %table
    %tr
      %th= t('view.tasks.title')
      %th= t('view.tasks.status')
      %th= link_to t('view.tasks.end_period'), sort: 'end_period'
      %th= t('view.tasks.edit')
      %th= t('view.tasks.delete')
    - @tasks.each do |task|
      %tr
        %td.task_title
          = task.title
        %td= task.status
        %td= task.end_period
        %td= link_to t('view.tasks.edit') , edit_task_path(task)
        %td= link_to t('view.tasks.delete') , task, method: :delete, data: { confirm: t('view.tasks.delete_confirm', title: task.title) }