- provide(:title, t('view.tasks.index_page'))

= link_to t('view.tasks.new'), new_task_path, class: 'btn btn-primary btn-lg pull-right'
= link_to t('view.tasks.clear'), request.path, class: "btn btn-default btn-lg pull-right"
.btn.btn-primary.btn-lg.pull-right{'data-target': "#myModal", 'data-toggle': 'modal'}
  = t('view.tasks.condition_search')

.task_list
  %table.table.table-striped.table-hover.table-responsive
    %thead
      %tr
        %th= sort_link(@q, :title, t('view.tasks.title')) 
        %th= t('view.tasks.status')
        %th= sort_link(@q, :priority, t('view.tasks.priority'))
        %th= sort_link(@q, :end_period, t('view.tasks.end_period'))
        %th= sort_link(@q, :created_at, t('view.tasks.created_at')) 
        %th
        %th
    %tbody
      - @tasks.each do |task|
        = form_tag task_status_update_path do
          = hidden_field_tag :id, task.id
          %tr
            %td.task_title
              = task.title
            %td.task_status
              = select_tag :status_select, options_for_select(task.transitionable_state_option_by, task.status), class: "status_select task_#{task.id}", onchange: "this.form.submit()"
            %td.task_priority
              = t("view.tasks.priorities.#{task.priority}")
            %td.task_end_period
              = task.end_period.strftime("%Y年 %m月 %d日")
            %td.task_created_at
              = task.created_at.strftime("%Y年 %m月 %d日")
            %td= link_to t('view.tasks.edit') , edit_task_path(task)
            %td= link_to t('view.tasks.delete') , task, method: :delete, data: { confirm: t('view.tasks.delete_confirm', title: task.title) }

.text-center
  = page_entries_info @tasks
  = paginate(@tasks)
= render 'search_form'